h1 {
    color: turquoise;
}
#center {
    text-align: center;
    
}
#logo {
    padding-top: 109px;
}
#search_bar {
    padding: 20px;
    max-height: 160px;
}
#search {
    padding: 5px 8px 0 16px;
    font-size: 16px;
    font-family: arial, sans-serif;
    font-stretch: 100%;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #dfe1e5;
    width: 584px;
    height: 46px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
input:focus {
    outline: none;
}
#searchform {
    border: none;
    margin-top: 4px;
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    height: 34px;
    font-size: 16px;
    word-wrap: break-word;
}
#search_icon{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin: auto;
}
#voice_icon{
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 4px;
}
.Search_Buttons {
    border-style: solid;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
    padding: 0 16px;
    margin: 11px 4px;
    border-radius: 4px; 
    color: #3c4043;
    font-family: roboto, arial, sans-serif;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    box-shadow: none;
    display: inline-block;
} 
#buttons {
    height: 70px;
    padding-top: 18px;
}