h1 {
    color: turquoise;
}
#center {
    text-align: center;
    
}
#logo {
    padding-top: 109px;
}
#search_bar {
    padding: 20px;
    max-height: 160px;
}
#search_box {
    width: auto;
    max-width: 582px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #dfe1e5;
}
#search {
    padding: 0px 8px 4px 16px;
    font-size: 16px;
    font-family: arial, sans-serif;
    font-stretch: 100%;
    width: 582px;
    display: flex;
}
#search_box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    border-color: #FFF;
}
input:focus {
    outline: none;
}
#searchform {
    border: none;
    margin-top: 4px;
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    height: 34px;
    font-size: 16px;
    word-wrap: break-word;
}
#search_icon{
    display: flex;
    align-items: center;
    padding-right: 13px;
    padding-top: 3px;
    margin: auto;
    height: 20px;
    width: 20px;
}
#voice_icon{
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    padding: 0px 8px;
    margin-bottom: 0px;
}
.Search_Buttons {
    border-width: 1px;
    border-style: solid;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
    color: #5f6368;
    padding: 0 16px;
    margin: 11px 4px;
    border-radius: 4px; 
    font-family: roboto, arial, sans-serif;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    box-shadow: none;
    display: inline-block;
} 
.Search_Buttons:hover{
    border-color: #dfe1e5;
    color: #202124;
    box-shadow: 0 1px 1px rgba(0 0 0 /10%); 
}
#buttons {
    height: 70px;
    padding-top: 18px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin: 5px 5px 5px 5px;
}
#app_icon{
    margin-top: 10px;
    padding: 8px;
}
.nav{
    padding: 6px;
}
.leftside{
    float: left;
    display: block;
}
.rightside{
    float: right;
    display: block;
}
.navLink {
    text-decoration: none;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222222;
    padding-right: 5px;
}
.navLink:hover{
    text-decoration: underline;
}
.body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.footbox{
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.leftfooter {
    flex: 1;
    display: flex;
}
.rightfooter {
    float: right;
    display: flex;
}
.footLink {
    text-decoration: none;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #70757a;
    padding: 15px;
}
.footLink:hover {
    text-decoration: underline;
}